
@{
    ViewBag.Title = "Trade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<br/>
<img src="~/Content/images/iinvestbar3.jpg" style="width:100%;height:70%" />
<br/>
<br/>
<h2>Our Recommended Stocks</h2>
<table class="table table-inverse">
    <tr>
        <th>
            Stock
        </th>
        <th>
            Price
        </th>
        <th>
            Ticker
        </th>
        <th>
            Risk
        </th>
        <th>
            PEratio
        </th>
        <th>
            Quantity
        </th>
        <th>
            Purchase
        </th>
    </tr>

    @foreach(var Element in ViewBag.Products)
    {
        <tr>
            <form action="/Home/Cart" method="post">
                <input type="hidden" name="AddProduct" value="@Element.name"/>
              <td>
                @Element.name
            </td>
            <td>
                @Element.price
            </td>
            <td>
                @Element.ticker
            </td>
            <td>
                @Element.risk
            </td>
            <td>
                @Element.PEratio
            </td>
            <td>
                <label for="quantity"></label><input id="quantity" type="number" value="int" name="Quantity" />
            </td>
            
                <td>
                <input type="submit" value="Add to Cart"/>
                    </td>
                </form>
            
        </tr>
    }
</table>
<h2 align="center">Ask Waston About Our Recommendations</h2>
<div id="ibm_chat_root"></div>


<script src='https://goo.gl/LGQjtn'></script>
<script>
    var config = {
        el: 'ibm_chat_root',
        baseURL: 'https://api.ibm.com/virtualagent/run/api/v1',
        botID: '2b07aecc-d9a2-42e5-884b-59dff73ced6b',
        XIBMClientID: 'c05d05dc-25ab-4cad-a5bc-aded4fa9c256',
        XIBMClientSecret: 'H1sC0iF5jB7rM2hM3eS0jA0uO6vO3fL0iL8bQ8xK3jF4gF2gV3'


    };
    window.IBMChat.init(config);
</script>


